body {
  background-color: #D6D2D2;
}

.links-person {
  margin-left: 100px;
  font-size: 16px;
}

.my-linkedin {
  padding: 5px;
  margin: 10px;
  display: inline-block;
}
.my-linkedin a{
  color:blanchedalmond;
  background-color: blue;
}

.my-github {
  padding: 5px;
  margin: 10px;
  display: inline-block;
}

.my-github a {
  background-color: #fff666;
  color: black;
}

.site {
  padding: 5px;
  display: inline-block;
}

.site a {
  background-color: rgb(212, 66, 18);
  color: whitesmoke;
}

.my-name {
  color: rgb(133, 70, 188);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.my-photo {
  width: 10rem;
  padding: 20px 20px;
  display:inline-block;
  width: 20%;
}

.my-photo img {
  border-radius: 50%;
  padding: 5px;
  background-color: aqua;
}

.description {
  font-family: "JetBrains Mono", monospace;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  display: inline-block;
  width: 70%;
  padding: 5px;
}

.personal {
}

.nationality {
  color: darkgreen;
  text-decoration: underline;
}

.city {
  color: brown;
  text-decoration: underline;
}
.like {
}

.work {
}

.habilities {
  margin: 10px;
  padding: 5px;
  display: block;
  margin-left: 150px;
  margin-top: 30px;
}

.title {
  color: rgb(133, 70, 188);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.list {
  background-color:
  color: antiquewhite;
  font-style: oblique;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  line-height: 30px;
  font-weight: 100;
  font-size: 20px;
  line-height: 30px;
  list-style: circle;
}

.javascript {
  font-size:xx-large;
  color: yellow;
}

.sql {
  font-size: x-large;
  color: cadetblue;
}

.python {
  font-size: larger;
  color: coral;
}

.big-data {
  font-size: large;
  color: brown;
}

.raciocinio-logico {
  font-size: medium;
  color: crimson;
}

.metodologia-agil {
  font-size: small;
  color: blue;
}

